.blog {
  border-top: 5px solid black;
  height: 100vh;
}

.blog-info {
  width: 35%;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

.blog h1,
.blog p {
  text-align: center;
}

.blog-cards {
  display: flex;
  justify-content: space-evenly;
}

.card {
  width: 350px;
  border: 1px solid black;
}

.blog-card-img {
  width: 100%;
  height: 250px;
}
