.contact {
  height: 100vh;
  position: relative;
}

.contact h1,
.contact p,
.contact h3 {
  text-align: center;
  margin-top: 15px;
}

.contact p {
  font-size: 20px;
}

.contact-container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.contact-img {
  width: 40%;
}

.contact-form-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 400px;
  height: 400px;
  padding: 25px;
  background-color: rgba(9, 21, 37, 1);
}
.contact-form-box input,
.contact-form-box textarea {
  padding: 10px 2px;
  margin: 10px 0;
  width: 300px;
  font-family: inherit;
  border: none;
  background-color: inherit;
  border-bottom: 1px solid white;
  color: white;
}

.contact-form-box textarea {
  resize: none;
  height: 100px;
  margin-bottom: 35px;
}

.contact-form-box input:focus,
.contact-form-box textarea:focus {
  outline: none;
}

.particles {
  position: absolute;
  height: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
}
