.services {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.services-info {
  width: 30%;
  margin-top: 25px;
  color: white;
}

.services-info h1,
.services-info h2,
.services-info p {
  text-align: center;
  margin-top: 15px;
  font-weight: 400;
}

.services-cards {
  display: flex;
  width: 80vw;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.services-card {
  width: 250px;
  padding: 20px;
  margin-top: 40px;
  border-radius: 10px;
  background-color: rgba(38, 81, 102, 1);
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
}

.services-icon {
  width: 75px;
}

.services-card h3 {
  margin: 15px 0;
}
