@import url("https://fonts.googleapis.com/css2?family=Courgette&display=swap");

.newsletter {
  padding: 50px;
  background: rgb(96, 41, 58);
  background: linear-gradient(
    90deg,
    rgba(96, 41, 58, 1) 25%,
    rgba(144, 15, 54, 1) 75%
  );
}

.newsletter h1 {
  text-align: center;
  z-index: 2;
}

.newsletter-input {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

.newsletter input {
  border: none;
  outline: none;
  height: 40px;
  width: 400px;
  padding: 10px 5px;
}

.newsletter button {
  padding: 10px;
  height: 40px;
  width: 100px;
  border: none;
  cursor: pointer;
  border-radius: 0;
  background-color: rgba(38, 81, 102, 1);
}

footer {
  display: flex;
  justify-content: space-evenly;
  padding: 20px 0 50px;
  background-color: white;
}

.logo {
  text-decoration: none;
  font-size: 30px;
  color: #c22b59;
  font-family: "Courgette", cursive;
  cursor: pointer;
}

.footer-one p {
  margin: 15px 0;
  font-size: 20px;
}

.social-link {
  font-size: 70px;
  cursor: pointer;
  padding: 0 30px 0 0;
}

.quick-links a,
.company-links a {
  text-decoration: none;
  color: #c22b59;
  display: flex;
  padding: 7px 0;
}

.contact-info span {
  display: flex;
}

.contact-info-icon {
  font-size: 25px;
  margin-top: 15px;
  cursor: pointer;
}

.contact-detail {
  margin: 10px 0 0 15px;
}
