@import url("https://fonts.googleapis.com/css2?family=Courgette&display=swap");

nav {
  padding: 20px 0 15px;
  position: fixed;
  color: white;
  display: flex;
  justify-content: space-around;
  width: 100%;
  z-index: 5;
}

.nav-links {
  list-style: none;
  display: flex;
  justify-content: space-between;
  width: 40%;
  font-size: 20px;
}

.nav-links a {
  text-decoration: none;
  color: white;
}

.nav-link {
  cursor: pointer;
  font-weight: 300;
  position: relative;
}

.nav-link::before {
  content: "";
  position: absolute;
  bottom: 5px;
  right: 0;
  width: 0;
  height: 2px;
  background-color: #c22b59;
  transition: width 0.5s cubic-bezier(0.25, 1, 0.5, 1);
}

@media (hover: hover) and (pointer: fine) {
  .nav-link:hover::before {
    left: 0;
    right: auto;
    width: 100%;
  }
}

.logo {
  text-decoration: none;
  font-size: 30px;
  color: #c22b59;
  font-family: "Courgette", cursive;
  cursor: pointer;
}

.nav-btn {
  margin-top: -10px;
  padding: 10px 25px;
  border-radius: 7px;
  outline: none;
  border: none;
  background-color: #c22b59;
  font-size: 20px;
  cursor: pointer;
}

.nav-bg {
  background-color: rgb(0, 0, 0, 0.8);
}
